In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/nevermoar/Documents/tor_wiki/blocked_ips_20180520.tsv", sep="\t", names = 
['ip_address', 'publish_date', 'action', 'block_date', 'comment'])
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ip_address</th>
      <th>publish_date</th>
      <th>action</th>
      <th>block_date</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18.187.1.68</td>
      <td>2011-11-18 01:22:55</td>
      <td>block</td>
      <td>2006-01-16 21:12:39</td>
      <td>NPA</td>
    </tr>
    <tr>
      <th>1</th>
      <td>18.187.1.68</td>
      <td>2011-11-18 01:22:55</td>
      <td>unblock</td>
      <td>2006-01-16 21:36:33</td>
      <td>open proxy, extending block</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18.187.1.68</td>
      <td>2011-11-18 01:22:55</td>
      <td>block</td>
      <td>2006-01-16 21:38:12</td>
      <td>Open proxy</td>
    </tr>
    <tr>
      <th>3</th>
      <td>216.194.67.53</td>
      <td>2010-10-21 12:02:11</td>
      <td>block</td>
      <td>2006-02-16 21:05:32</td>
      <td>Tor {{openproxy}}</td>
    </tr>
    <tr>
      <th>4</th>
      <td>80.58.205.39</td>
      <td>2010-10-24 16:54:34</td>
      <td>block</td>
      <td>2006-05-18 08:33:53</td>
      <td>repeated vandalism to various articles</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df['year'] = df['block_date'].str.slice(0,4)
block_year_2010 = len(df[df['year'] == '2010'])
block_year_2010

437

In [6]:
block_year_2011 = len(df[df['year'] == '2011'])
block_year_2011

1451

In [7]:
block_year_2012 = len(df[df['year'] == '2012'])
block_year_2012

1282

In [8]:
block_year_2013 = len(df[df['year'] == '2013'])
block_year_2013

303

In [9]:
block_year_2014 = len(df[df['year'] == '2014'])
block_year_2014

34

In [10]:
block_year_2015 = len(df[df['year'] == '2015'])
block_year_2015

23

In [11]:
block_year_2016 = len(df[df['year'] == '2016'])
block_year_2016

32

In [12]:
block_year_2017 = len(df[df['year'] == '2017'])
block_year_2017

40

In [13]:
block_year_2018 = len(df[df['year'] == '2018'])
block_year_2018

2

In [14]:
df2 = pd.read_csv("/Users/nevermoar/Documents/tor_wiki/block_ips_all_20180520.tsv", sep="\t", names = 
['ip_address', 'publish_date', 'action', 'block_date', 'comment'])
df2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ip_address</th>
      <th>publish_date</th>
      <th>action</th>
      <th>block_date</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>81.94.205.173</td>
      <td>2010-02-21 11:02:13</td>
      <td>block</td>
      <td>2010-02-21 19:41:41</td>
      <td>{{blocked proxy}} &lt;!-- 94.242.151.202:1080 --&gt;</td>
    </tr>
    <tr>
      <th>1</th>
      <td>91.209.162.126</td>
      <td>2010-02-22 13:24:37</td>
      <td>block</td>
      <td>2010-03-16 20:22:39</td>
      <td>{{blocked proxy}} &lt;!-- 94.242.149.183:1080 --&gt;</td>
    </tr>
    <tr>
      <th>2</th>
      <td>72.188.97.20</td>
      <td>2010-02-27 22:37:57</td>
      <td>block</td>
      <td>2010-03-18 16:58:22</td>
      <td>{{blocked proxy}} &lt;!-- 3246 --&gt;</td>
    </tr>
    <tr>
      <th>3</th>
      <td>72.14.182.177</td>
      <td>2010-03-02 05:49:30</td>
      <td>block</td>
      <td>2010-03-19 11:12:29</td>
      <td>[[WP:No personal attacks|Personal attacks]] or...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>61.32.46.3</td>
      <td>2010-03-08 23:05:02</td>
      <td>block</td>
      <td>2010-03-19 11:13:06</td>
      <td>[[WP:Vandalism|Vandalism]]</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
df2['year'] = df2['block_date'].str.slice(0,4)
block_year_2010 = len(df2[df2['year'] == '2010'])
block_year_2010

1531

In [16]:
block_year_2011 = len(df2[df2['year'] == '2011'])
block_year_2011

15243

In [17]:
block_year_2012 = len(df2[df2['year'] == '2012'])
block_year_2012

9154

In [18]:
block_year_2013 = len(df2[df2['year'] == '2013'])
block_year_2013

2415

In [19]:
block_year_2014 = len(df2[df2['year'] == '2014'])
block_year_2014

289

In [20]:
block_year_2015 = len(df2[df2['year'] == '2015'])
block_year_2015

353

In [21]:
block_year_2016 = len(df2[df2['year'] == '2016'])
block_year_2016

557

In [22]:
block_year_2017 = len(df2[df2['year'] == '2017'])
block_year_2017

839

In [23]:
block_year_2018 = len(df2[df2['year'] == '2018'])
block_year_2018

72

In [24]:
ips_2010 = df[df['year'] == '2010']
len(ips_2010.drop_duplicates(subset='ip_address', keep='last'))

305

In [25]:
ips_2011 = df[df['year'] == '2011']
len(ips_2011.drop_duplicates(subset='ip_address', keep='last'))

436

In [26]:
ips_2012 = df[df['year'] == '2012']
len(ips_2012.drop_duplicates(subset='ip_address', keep='last'))

319

In [27]:
ips_2013 = df[df['year'] == '2013']
len(ips_2013.drop_duplicates(subset='ip_address', keep='last'))

235

In [28]:
ips_2014 = df[df['year'] == '2014']
len(ips_2014.drop_duplicates(subset='ip_address', keep='last'))

32

In [29]:
ips_2015 = df[df['year'] == '2015']
len(ips_2015.drop_duplicates(subset='ip_address', keep='last'))

19

In [30]:
ips_2016 = df[df['year'] == '2016']
len(ips_2016.drop_duplicates(subset='ip_address', keep='last'))

22

In [31]:
ips_2017 = df[df['year'] == '2017']
len(ips_2017.drop_duplicates(subset='ip_address', keep='last'))

26

In [32]:
ips_all_2010 = df2[df2['year'] == '2010']
len(ips_all_2010.drop_duplicates(subset='ip_address', keep='last'))

1296

In [33]:
ips_all_2011 = df2[df2['year'] == '2011']
len(ips_all_2011.drop_duplicates(subset='ip_address', keep='last'))

9989

In [34]:
ips_all_2012 = df2[df2['year'] == '2012']
len(ips_all_2012.drop_duplicates(subset='ip_address', keep='last'))

4126

In [35]:
ips_all_2013 = df2[df2['year'] == '2013']
len(ips_all_2013.drop_duplicates(subset='ip_address', keep='last'))

1933

In [36]:
ips_all_2014 = df2[df2['year'] == '2014']
len(ips_all_2014.drop_duplicates(subset='ip_address', keep='last'))

283

In [37]:
ips_all_2015 = df2[df2['year'] == '2015']
len(ips_all_2015.drop_duplicates(subset='ip_address', keep='last'))

319

In [38]:
ips_all_2016 = df2[df2['year'] == '2016']
len(ips_all_2016.drop_duplicates(subset='ip_address', keep='last'))

491

In [39]:
ips_all_2017 = df2[df2['year'] == '2017']
len(ips_all_2017.drop_duplicates(subset='ip_address', keep='last'))

708